<form class="container d-flex flex-column justify-content-center p-3" [formGroup]="pagesWebForm"
  (ngSubmit)="onSubmit()">

  <div class="containerOptions">

    <div class="containerButtons text-center">
      <button class="buttonsOptionsWeb btn btn-danger" (click)="decreaseByPage(-1)"> -1 </button>
      <label class="form-check-label"> Numero páginas
        <!--   (keyup.enter)="emitValueIdiomas( txtInput.value)" -->
        <input matInput type="number" class="form-control w-25 text-center" style="appearance: textfield;"

        [placeholder]="this.theCounterPag" [(ngModel)]="theCounterPag" required formControlName="numPagesCtrl" (change)="onSubmit()"
        #txtInput>


        <!-- DIVISION DU VALIDATION MESSAGE -->



      </label>
      <button class="buttonsOptionsWeb btn btn-danger" (click)="increaseByPage(+1)"> +1 </button>
      <app-modal></app-modal>
      <br>
      <span *ngIf="quantityPag <= 0" class="form-text text-danger text-center" >
        Please chose number of pages
      </span>

    </div>



    <!--------------------------- INCREMENT BUTTON --------------------------->

    <div class="containerButtons text-center">
      <button class="buttonsOptionsWeb btn btn-danger" (click)="decreaseByLanguage(-1)"> -1 </button>
      <label class="form-check-label"> Numero idiomas
        <!--    (keyup.enter)="emitValueNumPag( txtInput.value)" -->
        <input matInput type="number" class="form-control w-25 text-center" style="appearance: textfield;"
        [placeholder]="theCounterIdiomas" [(ngModel)]="theCounterIdiomas" required formControlName="numIdiomasCtrl" ((change))="onSubmit()">

      </label>
      <button class="buttonsOptionsWeb btn btn-danger" (click)="increaseByLanguage(+1)"> +1 </button>
      <app-modal></app-modal>

      <!-- SPAN DU VALIDATION MESSAGE -->
        <br><span *ngIf="quantityLang <= 0" class="form-text text-danger text-center" >
          Please chose number of languages (at least one)
        </span>

    </div>
  </div>

    <br>

    <p> {{ emit_detailPagWEB()}} </p>


</form>




<!-- ********** TUTO YT ************
  <label for="item-input">Add an item:</label>
<input type="text" id="item-input" #newItem>
<button type="button" (click)="ComponentPannell_addNewItem(+newItem.value)">Add to parent's list</button>

<p> {{  newItem.value  }} </p>


 -->
