<div class="container p-5 m-5 rounded-pill text-center">
  <!--   <p>new-page2 works!</p>
    <input type="text" [placeholder]="placeholder" class="form-control" (keyup.enter)="emitValue( txtInput.value)"
    #txtInput>

  -->

  <!--  PAGES WEB 500€ CHECKBOX: -->
  <form class="form-check needs-validation mt-5 ">
    <label class="form-check-label"> Web page (500€)
      <input type="checkbox" class="form-check-input" (change)="Component_emitcheckPagWeb($event)" value="500" />
    </label>
    <br />


    <!-- SI option pages web cochée ==> show panell détail Service de pages web (lg + numPages)-->
    <ng-template [ngIf]="Component_isPageWebCheck()">
      <app-panell



      (detailPagWEB_Emitter) = "metodePadre_retrieveDetailPageWeb($event)"
      (output_detailPagWeb)="onTotalPagWebServ($event)"
      > </app-panell>


    </ng-template>

    <!--  PAGES WEB 500€ CHECKBOX: -->
    <label class="form-check-label"> SEO consulting (300€)
      <input type="checkbox" class="form-check-input" (change)="Component_emitcheckSeo($event)" value=300 />
    </label>
    <br />

    <!--  GOOGLE ADS 200€ CHECKBOX:-->
    <label class="form-check-label"> Google Ads campaign (200€)
      <input type="checkbox" class="form-check-input" (change)="Component_emitcheckGAds($event)" value="pub" />
    </label>
    <br/>

              <!-- -------------------------------- -->       <hr>      <!-- -------------------------------- -->

    <!--     <p> Total Price: {{ this.retrieveDetailPageWeb +   this.dataS.Service_calcTotalPreu()}} </p> -->
    <!-- <h5> <strong> TOTAL: (totalPresupuesto()) {{ totalPresupuesto() }} € </strong></h5> -->
    <h5> <strong> TOTAL :  {{this.dataS.Service_calcTotalPreu()}} € </strong></h5>



    <br>
    <button class="btn btn-success" (click)="metodePadre_saveDetailBudget()">Save budget </button>

<div>
    <!-- ---------------------------------------------   INSERER NOM CLIENT    --------------------------------------------------- -->
    <!-- TODO:  reprendre exemple FerHerrera avec la reference locale #txtInput
    <label class="form-check-label"> Enter budget name:
      <input type="text" class="form-text-input" (change)="Component_emitcheckGAds($event)" value="pub" />
    </label>  -->
    <!-- ---------------------------------------------   INSERER NOM BUDGET   --------------------------------------------------- -->
  </div>


<!-- <pre>  padre_createObjetBudget():   {{padre_createObjetBudget() | json}} </pre>
 --><hr>
<pre>  SERVICE::  {{this.dataS.Service_createObjetBudget()| json}} </pre>

    <br>

    <a routerLink="**" class="btn btn-primary">go back to welcome page</a>

